// ==================================================
// COLOURS
// ==================================================
// file:     core-colours.less
// version:  1.0
// --------------------------------------------------



// ==================================================

// THEME

// ==================================================


// --------------------------------------------------
// Shades
// -------------------------------------------------- 

// Grays
// -------------------------------------------------- 
$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;

// Black / White
// -------------------------------------------------- 
$black: #010101;
$white: #fefefe;

// --------------------------------------------------
// Colours (Primary)
// -------------------------------------------------- 
$primary: #e7392e;
$primary-green: #53bbb1;
$primary-yellow: #f4df51;


// ==================================================

// TEXT MUTATIONS

// ==================================================

// --------------------------------------------------
// Shades / Tints
// --------------------------------------------------
.text-darkest {
	color: $black;
}
.text-darker {
	color: $gray-darker;
}
.text-dark {
	color: $gray-dark;
}
.text-mid {
	color: $gray;
}
.text-light {
	color: $gray-light;
}
.text-lighter {
	color: $gray-lighter;
}
.text-lightest {
	color: $white;
}