// ==================================================
// VARIABLES
// ==================================================
// file:     core-variables.less
// version:  1.0
// --------------------------------------------------

// ==================================================

// 1  MAIN

// ==================================================
.main {
	position: relative;
}

// ==================================================

// 1  SECTIONS

// ==================================================

// --------------------------------------------------
// 1.2  Base
// --------------------------------------------------
section, .section
{
	overflow: hidden;
	position: relative;
}

// --------------------------------------------------
// 1.2  Sidebar
// --------------------------------------------------
.sidebar {
	margin-top: 5px;

	h3 {
		font-size: scale(1);
		margin-bottom: 10px;
	}

	.item {
		margin-bottom: 20px;
	}
}

// --------------------------------------------------
// 1.2  Article
// --------------------------------------------------

article {

	header img {
		margin-bottom: 20px;
	}

	.content aside {
		float: right;

		h3 {
			font-size: scale(2);
		}

		ul {
			padding: 0 20px;
		}
	}
}


// MD and down
@media (max-width: $screen-md-min)
{
	.sidebar {
		display: none;
	}
}